---
Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  clang-analyzer-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-slicing,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-noexcept,
  performance-*,
  -performance-no-int-to-ptr,
  readability-container-size-empty,
  readability-simplify-boolean-expr,
  readability-string-compare,
  -readability-braces-around-statements,
  

WarningsAsErrors: "*"

HeaderFilterRegex: 'src/.*\.h'
FormatStyle: llvm
